.themeRoot[data-theme="nord"] {
  --pb: #242933;
  --p0: #2e3440;
  --p1: #3b4252;
  --p2: #434c5e;
  --p3: #4c566a;
  --p4: #d8dee9;
  --p5: #e5e9f0;
  --p6: #eceff4;
  --p7: #8fbcbb;
  --p8: #88c0d0;
  --p9: #81a1c1;
  --p10: #5e81ac;
  --p11: #bf616a;
  --p12: #d08770;
  --p13: #ebcb8b;
  --p14: #a3be8c;
  --p15: #b48ead;
}