.mediaControlContainer{
  height: 10rem;
  background: transparent;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  flex-grow: 1;
  background-color: var(--p0);
}

.barMargin{
  padding: 3rem;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

.playerButton {
  cursor: pointer;
}