
.mediaControlContainer{
  width: 100%;
  height: 10rem;
  background: #636363;
  border-radius: 10rem;
  flex-shrink: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.mediaControlMargin{
  padding: 3rem;
  width: 100%;
}

.playerButton {
  cursor: pointer;
}

